body{
 background: linear-gradient(#8872d8, #15088d);
 min-height: 100vh;
 margin: 0px;
 padding: 0px;
}
.header{
    display: flex;
    justify-self: center;
    padding-top: 100px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 45px;
}
.calcbody{
    height: 488px;
    width: 323px;
    border: solid 1px;
    background-color: #014247;
    border-radius: 5px;
    border-color: #6FCF97;
    display: flexbox;
    justify-self: center;
    margin-top: 100px;
}
.rsltarea{
    height: 73px;
    width: 323px;
    background-color: #033543;
    border: solid 1px;
    border-radius: 5px;
    border-color: #6FCF97;
    border-bottom:transparent;
    border-left: transparent;
    border-right: transparent;
}
.row1{
    display: flex;
    justify-content: space-around;
    padding-top: 23px;
}
.row2{
    display: flex;
    justify-content: space-around;
    margin-top: 11px;
}
.row3{
    display: flex;
    justify-content: space-around;
    margin-top: 11px;
}
.row4{
    display: flex;
    justify-content: space-around;
    margin-top: 11px;
}
.row5{
   display: flex;
   justify-content: space-around;
   margin-top: 11px;
}
.n1{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.n2{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.n3{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.n4{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.n5{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.n6{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.n7{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.n8{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.n9{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.plus{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.zero{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.mult{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.sub{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.divi{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.eq{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.calcsright{
    display: flex;
    flex-direction: column;
}
.clear{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}
.scndnum{
  height: 64px;
  width: 64px;
  border: solid;
  border-radius: 50%;
  background-color: #256545;
  border-color: #256545;
}

